[submodule "pytorch_agents"]
	path = pytorch_agents
	url = https://github.com/araffin/pytorch_agents
	branch = master
[submodule "srl_priors"]
	path = srl_priors
	url = https://github.com/araffin/srl-robotic-priors-pytorch
	branch = master
